{% if page.language == "en" %}
{% assign empresa = site.data.dataen.empresa %}
{% else %}
{% assign empresa = site.data.data.empresa %}
{% endif %}
<!-- Footer -->
<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2><a href="{{ empresa.homelink }}"> {{ empresa.home }} </a>  
          - <a href="{{ empresa.photolink }}">{{ empresa.photo }}</a>
          - <a href="{{ empresa.languagelink }}">{{ empresa.language }}</a></h2><br /> 
        <h3>{{ empresa.title }}</h3>       
        <p>{{ empresa.detalhes }}</p>
      </section>
      <section>
        <h2>{{ empresa.redesociais }}</h2>
        <ul class="icons"> 
            <li><a href="{{ empresa.instagram }}"><span class="label"><i class="fab fa-instagram"></i> Instagram</span></a></li> 
            <li><a href="{{ empresa.whatsapp }}" ><span class="label"><i class="fab fa-whatsapp"></i>Whatsapp</span></a></li> 
        </ul>
      </section>
      <p class="copyright">
        <i class="fas fa-brands fa-creative-commons"></i> {{ empresa.footer }}
      </p>
    </div>
    <div> 
          <!-- contatos -->  
    </div>
  </div>
</footer>