{% if page.language == "en" %}
{% assign empresa = site.data.dataen.empresa %}
{% else %}
{% assign empresa = site.data.data.empresa %}
{% endif %}
<!-- Footer -->
<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2><a href="{{ empresa.homelink }}"> {{ empresa.home }} </a> 
          - <a href="{{ empresa.roomlink }}"> {{ empresa.room }} </a> 
          - <a href="{{ empresa.photolink }}">{{ empresa.photo }}</a>
          - <a href="{{ empresa.languagelink }}">{{ empresa.language }}</a></h2><br /> 
        <h3>{{ empresa.title }}</h3>       
        <p>{{ empresa.detalhes }}</p>
      </section>
      <section>
        <h2>{{ empresa.redesociais }}</h2>
        <ul class="icons"> 
          <li><a href="{{ empresa.instagram }}" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li> 
          <li><a href="{{ empresa.whatsapp }}" class="icon brands fa-whatsapp"><span class="label">Whatsapp</span></a></li> 
          <li><button data-be-url="https://hotels.cloudbeds.com/reservas/e45cDT">
            Book now
           </button></li> 
        </ul>
      </section>
      <p class="copyright">
        <i class="fas fa-brands fa-creative-commons"></i> {{ empresa.footer }}
      </p>
    </div>
    <div> 
          <!-- contatos -->  
    </div>
  </div>
</footer>