<!DOCTYPE HTML>
<!--
	Feito com <3 pelo FabioHCNobre
    Aqui
-->  
<html lang="pt-br" >         
    {% include head.html %}
    <body class="is-preload" >    
        <div id="fullScreenDiv">
            {{ content }}    
        </div>       
    <script>
        // Função para ajustar a altura da div
        function ajustarAlturaDiv() {
            var alturaJanela = window.innerHeight;
            var div = document.getElementById('fullScreenDiv');
            div.style.height = alturaJanela + 'px';
        }
        // Ajusta a altura da div quando a página é carregada
        window.onload = ajustarAlturaDiv;
        // Ajusta a altura da div quando a janela é redimensionada
        window.onresize = ajustarAlturaDiv - 50;
    </script>
    </body>
    </html>